
#containerDeseo{
    margin: 6%;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.4em;
    border-radius: 15px;
    
}

#boton{
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
}


input[type="text"]
{
    width:75%;
    margin-left:75px;
    background: transparent;
    border: none;
}

#textArea{
    height: 218px;
    width:75%;
    margin-left:75px;
    background: transparent;
    border: none;
    
}