$HeaderCardColor:#7E52A0;
$backgroundLinksHover:#6441A4;

.deseos {
 
    -webkit-animation: aparecer 1s ease-in ;
    -moz-animation: aparecer 1s ease-in;
    animation: aparecer 1s ease-in;
  }
  .MeGusta {
 
    -webkit-animation: aparecer 1s ease-in ;
    -moz-animation: aparecer 1s ease-in;
    animation: aparecer 1s ease-in;
  }
  @-webkit-keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
  }

hr{
    width: 75%;
    margin-left: 15%;
}

button[type="submit"]{
    background: transparent;
    border: none;
}

#container{
    overflow:auto;
}

.profile{
    margin-bottom: 1%;
}
.profile-header{
    background-color: #7E52A0;
    width: 75%;
    margin-left: 15%;
    border-radius: 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.nav-tabs {
    border-bottom: none;

}
.nav-tabs .nav-link {
    cursor: pointer!important;
    color: white!important;
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover{
    color: white!important;
    background-color: #6441A4 !important;;
}
.card{
    border-top-right-radius: 12px!important;
    border-top-left-radius: 12px!important;
    border-bottom-right-radius: 12px!important;
    border-bottom-left-radius: 12px!important;
    margin-top: 2% !important;
    margin-left: 15%!important;
    width: 75% !important;
}
.card-header {
    display: flex;
    justify-content: space-between;
    background-color: $HeaderCardColor!important;
    color: white !important;
    border-top-right-radius: 12px!important;
    border-top-left-radius: 12px!important;
}

.MeGusta{
    display: none;
    // margin-top: 2% !important;
    // margin-left: 10%!important;
    // // width: 75% !important;
}
#btnArriba{
    background:transparent;
    border:none;
    
}
.row {
    --bs-gutter-x: 0;
}

.gustar{
    display: flex;
    justify-content: flex-end;
}

