$colorfondo: #f6eaF4;
$navBackground:#F4DAF6;
$navlinkHover:#6441A4;
$colorNav:#29274C;
$fuente:'Crete Round', serif;
body{
    background-color:$colorfondo;
    font-family: $fuente!important;

}

.navbar{
    background-color: $colorfondo!important;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.nav-link{
    color: $colorNav!important;
    border-radius: 15px;
}
.nav-link:hover{
    color: $navlinkHover!important;
    background-color: $navBackground!important;
    border-radius: 15px;
}

.navbar-dark .navbar-toggler{
    background-color:$navBackground!important;
}

