$colorfondo: #f6eaF4;
$navBackground:#F4DAF6;
$navlinkHover:#6441A4;
$colorNav:#29274C;
body{
    background-color:$colorfondo;
}
.navbar{
    background-color: $colorfondo!important;
    position: fixed;
    width: 100%;
    z-index: 100;
}
#separador{

}
.nav-link{
    color: $colorNav!important;
}
.nav-link:hover{
    color: $navlinkHover!important;;
}

.navbar-dark .navbar-toggler{
    background-color:#F4DAF6;
}

